  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .site-name{
    font-size: 60px;
    text-align: center;
    font-weight: normal;
    color: #063821;
    font-family: 'Lobster', cursive;
    margin-top: 10%;
    margin-bottom: 10%;
 }

  .flex-index{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 6%;
    margin-bottom: 6%;
    flex-shrink: 2;
  }

  .flex-button{
    border: none;
    margin: 0;
    background: transparent;
    font-size: 32px;
    color: #363636;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    justify-content: center;
    font-family: 'Montserrat', Helvetica, sans-serif;
  }

  .flex-button:hover{
    color: #063821;
    border-bottom: 1px solid #363636;
  }

  .flex-button:focus{
    outline: 0;
    outline-offset: 0;
  }

  .flex-button:active{
    outline: 0;
    outline-offset: 0;
    font-size: 30px;
    border-bottom: 1px solid #363636;
  }

  .flex-illustrations{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .flex-pics{
    flex: 1;
    max-width: 100%;
    height: auto;
    max-height: 310px;
    justify-content: center;
    margin: 2%;
  }

  .content-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 80px;
    padding-left: 80px;
    justify-content: center;
  }

  .intro-text{
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
  }

  .content-text{
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: normal;
    padding-right: 120px;
    padding-left: 120px;
  }

  .title-text{
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #063821;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    justify-content: center;
    margin: 4%;
  }

  .subhead-text{
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #063821;
    font-size: 23px;
    text-align: center;
    font-weight: normal;
    justify-content: center;
    margin: 1%;
  }

  .link-text{
    color: #027e44;    
    text-decoration: none;
  }

  .link-text:hover{
    font-weight: bold;
  }



  .list-type{
    list-style-type: none;
  }

  .list-text{
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: normal;
    margin-top: 8px;
    padding-right: 80px;
    padding-left: 80px;
  }

  .table-frame{
    padding-left: 120px;
    padding-right: 120px;
    justify-content: center;
  }

  .table-header{
    background-color: #063821;
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    margin: 3px white;
    text-align: center;
    width: 30%;
  }

  .table-content{
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    width: 30%;
  }